.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BorderBox {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.SearchBorder {
  border: 2px solid;
  border-radius: 5px;
  padding: 1px;
}